$main-blue: #409eff;
$main-gray: #939191;
$main-white: #ffffff;

$second-blue: #c1dcf7;


$text-color-header: #fff;
$text-color-footer: #fff;

$background-color: #99f896;
$background-color-black: #06060681;
$background-color-white: #ffffff;
$background-color-grey: #939191;


